.recipepage{
background-color: rgb(187, 149, 229);
/* background-image: linear-gradient(red, yellow); */
}
#recipeheader{
position: relative;
margin-top: 0px;
height: 110px;
background-color: rgb(130, 83, 180);
font-variant:small-caps;
font-size: 26pt;
font-weight:bolder;
padding-top: 1%;
}
.drinkpage{
background-color: rgb(166, 216, 218);
}
#drinkheader{
position: relative;
margin-top: 0px;
height: 110px;
color: rgb(49,49,49);
background-color: cadetblue;
font-variant:small-caps;
font-size: 26pt;
font-weight:bolder;
padding-top: 1%;
}
#link{
    font-weight: bolder;
    font-size: 18pt;
    color:rgb(53,53,53);
    position: absolute;
    right: 40px;
    top: 165px;
}
#recipe-container{
    position:relative;
    left: 300px;
    max-width: 1100px;
    color:rgb(53, 53, 53);
    font-variant: small-caps;
    display: flex;
    flex-flow: wrap;
}
#drinks-container > div{
    padding: 30px;
}

#drinks-container {
    left: 200px;
    max-width: 1350px;
    font-size: 18pt;
    color: rgb(49, 49, 49);
    font-variant: small-caps;
    position: relative;
    display: flex;
    flex-flow: wrap;
}

button{
display:inline-block;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
text-transform:uppercase;
font-weight:400;
color:#FFFFFF;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
}
button:active{
top:0.1em;
}
@media all and (max-width:30em){
button{
display:block;
margin:0.4em auto;
}
}

input{
    height: 30px;
}
