.bodybackground
{
    margin: inherit;
    background-color: rgb(233, 157, 157);
}
.header {
    padding: 40px;
    font-size: 40pt;
    margin-top: 0;
    text-align: left;
    background: lightcoral;
    color:blanchedalmond;
    font-variant:small-caps;
    font-family:Verdana, Tahoma, sans-serif;
}
#imgsection
{
    border-radius: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.menulink
{
    position: absolute;
    top: 300px;
    right: 50px;
    font-size: 30pt;
    color:blanchedalmond;
    font-variant: small-caps;
    font-family: Verdana, Tahoma, sans-serif;
}
.menulink2
{
    position: absolute;
    top: 400px;
    right: 50px;
    font-size: 30pt;
    color:blanchedalmond;
    font-variant: small-caps;
    font-family: Verdana, Tahoma, sans-serif;
}
#section1
{
    height: 600px;
    max-width: inherit;
    background-color: rgb(236, 177, 177);
    color:rgb(119, 77, 14);
}
.headings
{
    font-size:35pt;
    font-family: Verdana, Tahoma, sans-serif;
    font-variant: small-caps;
}
table
{
    font-size: 15pt;
    font-family: Verdana, Tahoma, sans-serif;
    font-variant: small-caps;
}
.pagetwo
{
    background-color: rgba(255, 208, 163, 0.767);
    color: rgb(78, 78, 78);
    font-variant: small-caps;
    border-color: rgb(78, 78, 78);
    margin: inherit;
}
.page3
{
    background-color: rgb(245, 175, 145);
    color: rgb(99, 82, 82);
    font-variant: small-caps;
    border-color: rgb(78, 78, 78);
    margin: inherit;
}
.aboutus
{
    font-size: 25pt;
}
#menuitem
{
    font-size:15pt;
}
#column2
{
   position: absolute;
    top: 115px;
   left: 400px;
}
#column3
{
    position: absolute;
    top:115px;
    left:800px;
}
